<section>
    <div class="footer-align">

        <div class="left">
            <div class="logo-name">
                <span>Tom <br> Wahrenberg</span>

            </div>
            <p>Web developer <br> Chemnitz Germany</p>
        </div>

        <h2>© Tom Wahrenberg 2024</h2>

        <div class="links">
            <a href="https://github.com/PaterAnderson">Github</a>
            <a href="#">LinkedIn</a>
            <a href="#">Email</a>
            <a href="#">Legal Notice</a>
        </div>

    </div>
</section>
