<section>


    <div class="information">
        <div class="headline">
            <h1>01</h1>
            <h2>Join</h2>
        </div>
        <div class="about">
            <h3>What is this project about?</h3>
            <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.</p>
            <div class="languages">
                <div class="language">
                    <img src="/assets/img/deco/css.svg">
                    <span>CSS</span>
                </div>
                <div class="language">
                    <img src="/assets/img/deco/html.svg">
                    <span>HTML</span>
                </div>
                <div class="language">
                    <img src="/assets/img/deco/firebase.svg">
                    <span>Firebase</span>
                </div>
                <div class="language">
                    <img src="/assets/img/deco/angular.svg">
                    <span>Angular</span>
                </div>
                <div class="language">
                    <img src="/assets/img/deco/ts.svg">
                    <span>TypeScript</span>
                </div>
            </div>
        </div>
        <div class="btn">
            <button class="custom-button">
                <span class="button-text">GitHub</span>
                <img src="/assets/img/ico/arrow_out_g.svg" alt="Arrow Icon" class="button-icon">
            </button>
            <button class="custom-button">
                <span class="button-text">Live Test</span>
                <img src="/assets/img/ico/arrow_out_g.svg" alt="Arrow Icon" class="button-icon">
            </button>
        </div>
    </div>


    <div class="right-side">

        <button class="close">
            <img src="/assets/img/ico/close.svg">
        </button>
       
        <img src="/assets/img/projects/join_b.png">
        <button class="next">
            <span class="button-text">Next Project</span>
            <img src="/assets/img/ico/arrow_f.svg" alt="Arrow Icon" class="button-icon">
        </button>
    </div>

</section>