<section>


    <div class="align">
        <div class="contact-me">
            <h2>Contact me</h2>
            <h1>Let's work together</h1>
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.<br><br>
                Need a Frontend developer? <span style="color: #3DCFB6;">Let’s talk!</span></p>


        </div>


        <div class="form-container">
            <form method="post">
                <div class="field">
                    <h2>What's your name?</h2>
                    <input type="text" name="name" required placeholder="Your name goes here">
                </div>

                <div class="field">
                    <h2>What's your email?</h2>
                    <input type="email" name="email" required placeholder="youremail@email.com">
                </div>


                <div class="field">
                    <h2>How can I help you?</h2>
                    <textarea name="message" required placeholder="Hello Tom, I am interested in..."></textarea>
                </div>

            </form>

            <div class="submit">
                <div class="box-align">
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <p>I've read the <span style="color: #3DCFB6;">privacy policy</span> and agree to the processing of
                        my data as outlined.</p>
                </div>
                <div class="btn-align">
                    <button class="custom-button"><span class="button-text">Let's Talk</span></button>
                </div>
            </div>
        </div>


    </div>



</section>