section {
    width: 100%;
    overflow: hidden;
    max-width: 2560px;
    margin: 0 auto;
    height: 708px;
    background: #1C1C1C;
    font-family: 'Karla';
    margin-top: -3px;
    @media (max-width: 1000px) {
        display: flex;
        justify-content: center;
        height: 775px;
    }
}

.description-box {
    width: 880px;
    height: 565px;
    margin-left: 96px;
    color: white;
    @media (max-width: 1000px) {
        width: 80vw;
        margin-left: 0;
    }
    @media (min-width: 1921px) {
        margin-left: 12vw;
    }
    @media (min-width: 2561px) {
        margin-left: 300px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
        font-family: 'Karla';
        font-size: 24px;
        font-weight: 700;
        line-height: 28.06px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #3DCFB6;
    }

    h1 {
        font-family: 'Fira Code';
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #3DCFB6;
        @media (max-width: 416px) {
            font-size: 48px;
        }
    }

    p {
        font-size: 18px;
        width: 456px;
        margin-top: 8px;
        margin-bottom: 41px;
        @media (max-width: 550px) {
            width: auto;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 700px) {
        flex-direction: column;
        align-items: normal;
    }
}

.seperator {
    border-top: 1px solid #3DCFB6;
}

.project {

    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-left: 32px;

    h3 {
        font-family: 'Fira Code';
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    &:hover {
        cursor: pointer;
        background: #3DCFB64D;
    }
}

.technologies {
    display: flex;

    span {
        line-height: 21.6px;
        font-size: 18px;

        &:not(:first-child):before {
            content: "|";
            margin-right: 5px;
            margin-left: 5px;
            color: #3DCFB6;
            width: 6px;
            height: 22px;
        }
        @media (max-width: 525px) {
            font-size: 14px;
        }
        @media (max-width: 410px) {
            font-size: 10px;
        }

    }
}


.project-image {
    position: absolute;
    left: 1100px;
    @media (min-width: 1921px) {
        left: 58vw;
    }

    img {
        border-radius: 16px;
        width: 520px;
        height: 370px;
        object-fit: cover;
    }

    img:nth-child(1) { 
        position: relative; 
        z-index: 2;
        @media (min-width: 1921px) {
            width: 20vw;
        }
        @media (min-width: 2561px) {
            width: 440px;
        }
         
    }

    img:nth-child(2) { 
        position: absolute; 
        left: 24px;
        top: 20px;
        z-index: 1; 
        @media (min-width: 1921px) {
            width: 20vw;
        }
        @media (min-width: 2561px) {
            width: 440px;
        }
    }
    @media (max-width: 1440px) {
        display: none;
    }
}

.title-with-image {
    display: flex;
    align-items: center;
}

.static-image {

    img {
        margin-left: 16px;
        transform: scale(0.9);
        animation: fadeIn 1s forwards;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Dunkler, halbtransparenter Hintergrund */
    display: flex;
    align-items: center; /* Zentriert die InfoCard vertikal */
    justify-content: center; /* Zentriert die InfoCard horizontal */
    z-index: 999; /* Sicherstellen, dass es über anderen Elementen liegt */
}