<div class="background">
    <section>
        <div class="align">
            <img src="/assets/img/me/me.png">
            <div class="description">
                <h2 i18n="@@Who I am">Who I am</h2>
                <div class="container">
                    <h1 i18n="@@About me">About Me</h1>
                    <div class="center">
                        <p i18n="@@Hi, Im a german...">Hi, I’m a german speaking Frontend Developer based in Chemnitz. Motivated by the limitless
                            opportunities within IT, I am excited about crafting visually captivating and intuitive
                            websites and
                            applications.</p>
                        <div class="info">
                            <img src="/assets/img/ico/location.svg">
                            <p i18n="@@flexible in terms of...">Flexible in terms of working environments, I can work effectively both on-site in Munich
                                and
                                remotely.</p>
                        </div>
                        <div class="info">
                            <img src="/assets/img/ico/cognition.svg">
                            <p i18n="@@I am open...">I am open-minded and always looking for personal challenges to constantly improve my
                                knowledge and skills.</p>
                        </div>
                        <div class="info">
                            <img src="/assets/img/ico/new.svg">
                            <p i18n="@@In my profession....">In my profession, programming isn't just about writing code; it's a creative form of
                                problem-solving. I take pride in my ability to distill complex technical challenges into
                                simple, user-friendly solutions. This way, I help you achieve your goals and bring your
                                visions to life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>