<div class="background">
    <section>
        <div class="align">
            <img data-aos="fade-right" class="me" src="/assets/img/me/me.png">
            <div data-aos="fade-left" class="description">
                <h2 i18n="@@Who I am">Who I am</h2>
                <div class="container">
                    <h1 i18n="@@About me">About Me</h1>
                    <div class="center">
                        <p i18n="@@Hi, Im a german...">My interest in computers began at the age of 8, sparking my passion for technology and creative problem-solving. In addition to frontend development, I am also deeply involved with MySQL and server architectures, which has allowed me to develop a comprehensive understanding of the entire application architecture. I am excited to create innovative web solutions and continue developing my skills.</p>
                        <div class="info">
                            <img src="/assets/img/ico/location.svg">
                            <p i18n="@@flexible in terms of...">Flexible in terms of working environments, I can work effectively both on-site in Chemnitz
                                and
                                remotely.</p>
                        </div>
                        <div class="info">
                            <img src="/assets/img/ico/cognition.svg">
                            <p i18n="@@I am open...">I am open-minded and always looking for personal challenges to constantly improve my
                                knowledge and skills.</p>
                        </div>
                        <div class="info">
                            <img src="/assets/img/ico/new.svg">
                            <p i18n="@@In my profession....">In my profession, programming isn't just about writing code; it's a creative form of
                                problem-solving. I take pride in my ability to distill complex technical challenges into
                                simple, user-friendly solutions. This way, I help you achieve your goals and bring your
                                visions to life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>