<div class="background">
    <section>
        <div class="title-screen">
            <h2 i18n="@@headline">Frontend Developer</h2>
            <h1>Tom Wahrenberg</h1>
            <div class="btn-align">
                <button class="custom-button"><a href="#projects" class="button-text" i18n="@@check my work">Check my work</a></button>
                <button class="custom-button"><a href="#contact" class="button-text" i18n="@@Contact me btn">Contact me</a></button>
            </div>
        </div>
        <div class="links">
            <div class="left">
                <div class="box">
                    <img src="/assets/img/btn/arrowd.svg" alt="arrow" class="box-image">
                </div>
                <div class="line1"></div>
            </div>
            <div class="right">
                <div class="mail">
                    <a>
                        <img src="/assets/img/ico/linked.svg" alt="linkedIn">
                    </a>
                    <a href="https://github.com/PaterAnderson">
                        <img src="/assets/img/ico/git.svg" alt="linkedIn">
                    </a>
                    <a href="mailto:towahr&#64;protonmail.com">
                        <img src="/assets/img/ico/mail.svg" alt="linkedIn">
                    </a>
                    <div class="email-container">
                        <a href="mailto:towahr&#64;protonmail.com">towahr&#64;protonmail.com</a>
                    </div>
                </div>
                <div class="line2"></div>
            </div>
        </div>
        <div class="message-container">
            <div class="message-bar">
                <div class="floating-text">
                    <p i18n="@@marquee">
                        Available for Remote work
                        <span class="spaced-item">•</span>
                        Frontend Developer
                        <span class="spaced-item">•</span>
                        Based in Chemnitz
                        <span class="spaced-item">•</span>
                        Open to work
                        <span class="spaced-item">•</span>
                        Available for Remote work
                        <span class="spaced-item">•</span>
                        Frontend Developer
                        <span class="spaced-item">•</span>
                        Based in Chemnitz
                        <span class="spaced-item">•</span>
                        Open to work
                        <span class="spaced-item">•</span>
                    </p>
                </div>
                <div class="floating-text">
                    <p i18n="@@marquee">
                        Available for Remote work
                        <span class="spaced-item">•</span>
                        Frontend Developer
                        <span class="spaced-item">•</span>
                        Based in Chemnitz
                        <span class="spaced-item">•</span>
                        Open to work
                        <span class="spaced-item">•</span>
                        Available for Remote work
                        <span class="spaced-item">•</span>
                        Frontend Developer
                        <span class="spaced-item">•</span>
                        Based in Chemnitz
                        <span class="spaced-item">•</span>
                        Open to work
                        <span class="spaced-item">•</span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>