.background {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    height: 851px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

}

.overall {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
}