<div class="background">
    <section>
        <div class="align">
            <div class="privacy-policy" i18n="@@privacy policy">
                <h1>Privacy Policy</h1>
                <h2 id="m716">Preamble</h2>
                <p>With the following privacy policy, we would like to inform you about the types of your personal data
                    (hereinafter also referred to as "data") that we process for which purposes and to what extent. The
                    privacy policy applies to all processing of personal data carried out by us, both in the context of
                    providing our services and particularly on our websites, mobile applications, and within external
                    online presences, such as our social media profiles (hereinafter collectively referred to as "online
                    offer").</p>
                <p>The terms used are not gender-specific.</p>

                <p>As of: January 30, 2025</p>
                <h2>Table of Contents</h2>
                <ul class="index">
                    <li><a class="index-link" href="#m716">Preamble</a></li>
                    <li><a class="index-link" href="#m3">Responsible Party</a></li>
                    <li><a class="index-link" href="#mOverview">Overview of Processing Activities</a></li>
                    <li><a class="index-link" href="#m2427">Legal Bases</a></li>
                    <li><a class="index-link" href="#m27">Security Measures</a></li>
                    <li><a class="index-link" href="#m12">General Information on Data Storage and Deletion</a></li>
                    <li><a class="index-link" href="#m10">Rights of Affected Persons</a></li>
                    <li><a class="index-link" href="#m182">Contact and Inquiry Management</a></li>
                    <li><a class="index-link" href="#m15">Changes and Updates</a></li>
                    <li><a class="index-link" href="#m42">Definitions of Terms</a></li>
                </ul>
                <h2 id="m3">Responsible Party</h2>
                <p>Tom Wahrenberg<br>Am Hexenberg 11<br>09224 Chemnitz</p>
                <p>Email: contact&#64;tom-wahrenberg.com</p>
                <p>Imprint: www.tom-wahrenberg.com/de/legal-notice</p>

                <h2 id="mOverview">Overview of Processing Activities</h2>
                <p>The following overview summarizes the types of processed data and the purposes of their processing
                    and refers to the affected persons.</p>
                <h3>Types of Processed Data</h3>
                <ul>
                    <li>Inventory data.</li>
                    <li>Contact data.</li>
                    <li>Content data.</li>
                    <li>Usage data.</li>
                    <li>Meta, communication, and procedural data.</li>
                </ul>
                <h3>Categories of Affected Persons</h3>
                <ul>
                    <li>Communication partners.</li>
                </ul>
                <h3>Purposes of Processing</h3>
                <ul>
                    <li>Communication.</li>
                    <li>Organizational and administrative procedures.</li>
                    <li>Feedback.</li>
                    <li>Providing our online offer and user-friendliness.</li>
                </ul>
                <h2 id="m2427">Legal Bases</h2>
                <p><strong>Legal Bases Under GDPR:</strong> The following is an overview of the legal bases of the GDPR
                    on which we process personal data. Please note that in addition to the regulations of the GDPR,
                    national data protection regulations may apply in your or our country of residence or establishment.
                    If more specific legal bases are important in individual cases, we will inform you of these in the
                    privacy policy.</p>
                <ul>
                    <li><strong>Contractual Fulfillment and Pre-Contractual Queries (Art. 6 para. 1 sentence 1 lit. b
                            GDPR)</strong> - The processing is necessary for the fulfillment of a contract of which the
                        affected person is a party or for the implementation of pre-contractual measures taken at the
                        request of the affected person.</li>
                    <li><strong>Legitimate Interests (Art. 6 para. 1 sentence 1 lit. f GDPR)</strong> - The processing
                        is necessary to safeguard the legitimate interests of the responsible party or a third party,
                        provided that the interests, fundamental rights, and fundamental freedoms of the affected
                        person, which require the protection of personal data, do not override these interests.</li>
                </ul>
                <p><strong>National Data Protection Regulations in Germany:</strong> In addition to the data protection
                    regulations of the GDPR, national regulations on data protection apply in Germany. This includes in
                    particular the Act on the Protection Against the Misuse of Personal Data in Data Processing (Federal
                    Data Protection Act - BDSG). The BDSG includes specific regulations on the right to information, the
                    right to deletion, the right to object, the processing of special categories of personal data,
                    processing for other purposes, and transmission and automated decision-making in individual cases,
                    including profiling. Furthermore, state data protection laws of the individual federal states may
                    apply.</p>

                <h2 id="m27">Security Measures</h2>
                <p>We take appropriate technical and organizational measures in accordance with the legal requirements,
                    taking into account the state of the technology, the implementation costs, and the nature, scope,
                    circumstances, and purposes of the processing, as well as the varying probabilities of occurrence
                    and the severity of the risk to the rights and freedoms of natural persons, in order to ensure a
                    level of protection appropriate to the risk.</p>
                <p>The measures include, in particular, securing the confidentiality, integrity, and availability of
                    data by controlling physical and electronic access to the data as well as the related access, input,
                    transmission, availability, and separation of the data. Furthermore, we have established procedures
                    that ensure the exercise of data subject rights, the deletion of data, and responses to data
                    breaches. Additionally, we take into account the protection of personal data at the time of the
                    development or selection of hardware, software, and procedures in accordance with the principle of
                    data protection through technology design and by default settings that promote data protection.</p>
                <p>Securing online connections through TLS/SSL encryption technology (HTTPS): To protect the data of
                    users transmitted via our online services from unauthorized access, we rely on TLS/SSL encryption
                    technology. Secure Sockets Layer (SSL) and Transport Layer Security (TLS) are the cornerstones of
                    secure data transmission on the Internet. These technologies encrypt the information transmitted
                    between the website or app and the user's browser (or between two servers), thus protecting the data
                    from unauthorized access. TLS, as the enhanced and more secure version of SSL, ensures that all data
                    transfers meet the highest security standards. When a website is secured by an SSL/TLS certificate,
                    this is indicated by the display of HTTPS in the URL. This serves as an indicator for users that
                    their data is being transmitted securely and encrypted.</p>

                <h2 id="m12">General Information on Data Storage and Deletion</h2>
                <p>We delete personal data that we process in accordance with the legal requirements as soon as the
                    underlying consents are revoked or there are no further legal bases for processing. This applies in
                    cases where the original purpose of processing no longer applies or the data is no longer required.
                    Exceptions to this regulation exist when legal obligations or specific interests require a longer
                    retention or archiving of the data.</p>
                <p>In particular, data that must be retained for commercial or tax reasons or whose storage is necessary
                    for legal prosecution or to protect the rights of other natural or legal persons must be archived
                    accordingly.</p>
                <p>Our privacy information contains additional details on the retention and deletion of data that
                    specifically apply to certain processing operations.</p>
                <p>If multiple indications for the retention period or deletion deadlines of a date exist, the longest
                    period shall apply.</p>
                <p>If a period does not explicitly begin on a specific date and lasts at least one year, it
                    automatically starts at the end of the calendar year in which the triggering event occurred. In the
                    case of ongoing contractual relationships where data is stored, the triggering event is the time
                    when the termination or other termination of the legal relationship becomes effective.</p>
                <p>Data that are no longer needed for the original purpose but are retained due to legal requirements or
                    other reasons will only be processed for the reasons that justify their retention.</p>

                <h2 id="m10">Rights of Affected Persons</h2>
                <p>Rights of Affected Persons Under GDPR: As an affected person under the GDPR, you have various rights
                    that arise particularly from Articles 15 to 21 of the GDPR:</p>
                <ul>
                    <li><strong>Right to Object:</strong> You have the right to object at any time, on grounds relating
                        to your particular situation, to the processing of personal data concerning you that is carried
                        out pursuant to Art. 6 para. 1 lit. e or f GDPR; this applies also to profiling based on these
                        provisions. If personal data concerning you is processed for the purpose of direct marketing,
                        you have the right to object at any time to the processing of personal data concerning you for
                        the purposes of such marketing; this applies also to profiling to the extent that it is related
                        to such direct marketing.</li>
                    <li><strong>Right of Withdrawal for Consents:</strong> You have the right to withdraw consents
                        granted at any time.</li>
                    <li><strong>Right to Information:</strong> You have the right to request confirmation of whether
                        personal data concerning you is being processed and to request information about such data as
                        well as further information and a copy of the data in accordance with legal provisions.</li>
                    <li><strong>Right to Rectification:</strong> You have the right to request the completion of
                        personal data concerning you or the rectification of inaccurate personal data concerning you in
                        accordance with legal provisions.</li>
                    <li><strong>Right to Deletion and Restriction of Processing:</strong> You have the right, in
                        accordance with legal provisions, to demand that personal data concerning you be deleted
                        immediately or alternatively to request a restriction of the processing of the data in
                        accordance with legal provisions.</li>
                    <li><strong>Right to Data Portability:</strong> You have the right to receive personal data
                        concerning you that you have provided to us in a structured, commonly used, and machine-readable
                        format or to request the transfer of such data to another responsible party in accordance with
                        legal provisions.</li>
                    <li><strong>Complaint to Supervisory Authority:</strong> Without prejudice to any other
                        administrative or judicial remedy, you have the right to lodge a complaint with a supervisory
                        authority, in particular in the member state of your usual residence, your workplace, or the
                        place of the alleged infringement, if you believe that the processing of personal data
                        concerning you infringes the provisions of the GDPR.</li>
                </ul>

                <h2 id="m182">Contact and Inquiry Management</h2>
                <p>When contacting us (e.g., by post, contact form, email, phone, or via social media) as well as in the
                    context of existing user and business relationships, the details of the inquiring persons will be
                    processed as far as this is necessary for answering the contact inquiries and any requested
                    measures.</p>
                <ul class="m-elements">
                    <li><strong>Processed Data Types:</strong> Inventory data (e.g., full name, home address, contact
                        information, customer number, etc.); contact data (e.g., postal and email addresses or phone
                        numbers); content data (e.g., textual or visual messages and contributions as well as related
                        information such as indications of authorship or date of creation); usage data (e.g., page views
                        and duration of visit, click paths, usage intensity and frequency, types of devices and
                        operating systems used, interactions with content and features); meta, communication, and
                        procedural data (e.g., IP addresses, timestamps, identification numbers, individuals involved).
                    </li>
                    <li><strong>Affected Persons:</strong> Communication partners.</li>
                    <li><strong>Purposes of Processing:</strong> Communication; organizational and administrative
                        procedures; feedback (e.g., collecting feedback via online form). Providing our online offer and
                        user-friendliness.</li>
                    <li><strong>Retention and Deletion:</strong> Deletion in accordance with the information provided in
                        the section "General Information on Data Storage and Deletion."</li>
                    <li><strong>Legal Bases:</strong> Legitimate interests (Art. 6 para. 1 sentence 1 lit. f GDPR).
                        Contract fulfillment and pre-contractual inquiries (Art. 6 para. 1 sentence 1 lit. b GDPR).</li>
                </ul>
                <p><strong>Further Information on Processing Processes, Procedures, and Services:</strong></p>
                <ul class="m-elements">
                    <li><strong>Contact Form:</strong> When contacting us via our contact form, email, or other
                        communication channels, we process the personal data transmitted to us to respond to and process
                        the respective concerns. This typically includes information such as name, contact information,
                        and any other information that may be provided to us and is necessary for appropriate handling.
                        We use this data solely for the stated purpose of the contact and communication;
                        <span><strong>Legal Bases:</strong> Contract fulfillment and pre-contractual inquiries (Art. 6
                            para. 1 sentence 1 lit. b GDPR), legitimate interests (Art. 6 para. 1 sentence 1 lit. f
                            GDPR).</span></li>
                </ul>
                <h2 id="m15">Changes and Updates</h2>
                <p>We ask you to regularly inform yourself about the content of our privacy policy. We will adjust the
                    privacy policy as soon as changes to our data processing operations make this necessary. We will
                    inform you as soon as your involvement (e.g., consent) or any other individual notification becomes
                    necessary due to the changes.</p>
                <p>If we provide addresses and contact information of companies and organizations in this privacy
                    policy, please note that the addresses may change over time and check the information before
                    contacting.</p>

                <h2 id="m42">Definitions of Terms</h2>
                <p>This section provides an overview of the terminology used in this privacy policy. As far as the terms
                    are legally defined, their legal definitions apply. The following explanations are primarily
                    intended to aid understanding.</p>
                <ul class="glossary">
                    <li><strong>Inventory Data:</strong> Inventory data includes essential information required for the
                        identification and management of contractual partners, user accounts, profiles, and similar
                        associations. This data may include personal and demographic information such as names, contact
                        information (addresses, phone numbers, email addresses), birth dates, and specific identifiers
                        (user IDs). Inventory data forms the basis for any formal interaction between individuals and
                        services, institutions, or systems by enabling unique identification and communication.</li>
                    <li><strong>Content Data:</strong> Content data includes information generated during the creation,
                        editing, and publishing of content of all kinds. This category of data can encompass texts,
                        images, videos, audio files, and other multimedia content published across various platforms and
                        media. Content data is not only limited to the actual content but also includes metadata that
                        provides information about the content itself, such as tags, descriptions, authorship
                        information, and publication dates.</li>
                    <li><strong>Contact Data:</strong> Contact data consists of essential information that enables
                        communication with individuals or organizations. This includes, among other things, phone
                        numbers, postal addresses, and email addresses, as well as communication means such as social
                        media handles and instant messaging identifiers.</li>
                    <li><strong>Meta, Communication, and Procedural Data:</strong> Meta, communication, and procedural
                        data are categories that contain information about how data is processed, transmitted, and
                        managed. Meta-data, also known as data about data, includes information that describes the
                        context, origin, and structure of other data. It may include details such as file size, creation
                        date, the author of a document, and change histories. Communication data captures the exchange
                        of information between users across different channels, such as email traffic, call logs, social
                        media messages, and chat histories, including involved individuals, timestamps, and transmission
                        paths. Procedural data describes the processes and workflows within systems or organizations,
                        including workflow documentation, transaction logs, and activities, as well as audit logs used
                        for tracking and verifying processes.</li>
                    <li><strong>Usage Data:</strong> Usage data refers to information that captures how users interact
                        with digital products, services, or platforms. This data encompasses a wide range of information
                        showing how users use applications, which features they prefer, how long they stay on certain
                        pages, and the paths they navigate through an application. Usage data can also include the
                        frequency of use, timestamps of activities, IP addresses, device information, and location data.
                        It is particularly valuable for analyzing user behavior, optimizing user experiences,
                        personalizing content, and improving products or services. Furthermore, usage data plays a
                        crucial role in identifying trends, preferences, and potential problem areas within digital
                        offerings.</li>
                    <li><strong>Personal Data:</strong> "Personal data" refers to any information relating to an
                        identified or identifiable natural person (hereinafter referred to as "data subject"); an
                        identifiable natural person is one who can be identified, directly or indirectly, in particular
                        by reference to an identifier such as a name, identification number, location data, an online
                        identifier (e.g., cookie), or to one or more factors specific to the physical, physiological,
                        genetic, mental, economic, cultural, or social identity of that natural person.</li>
                    <li><strong>Responsible Party:</strong> The term "responsible party" refers to the natural or legal
                        person, authority, institution, or other entity that alone or jointly with others determines the
                        purposes and means of the processing of personal data.</li>
                    <li><strong>Processing:</strong> "Processing" means any operation or set of operations performed on
                        personal data, whether or not by automated means. The term is broad and encompasses practically
                        any handling of data, including collection, evaluation, storage, transmission, or deletion.</li>
                </ul>
                <p class="seal"><a href="https://datenschutz-generator.de/"
                        title="Legal text by Dr. Schwenke - for more information, please click." target="_blank"
                        rel="noopener noreferrer nofollow">Created with the free Datenschutz-Generator.de by Dr. Thomas
                        Schwenke</a></p>
            </div>
        </div>
    </section>
</div>