section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2560px;
    margin: 0 auto;
    color: white;
    font-family: 'Fira Code';
    background: #1C1C1C;
    overflow-x: hidden;
}

.align {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.legal-notice {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: auto;
    padding: 32px 32px 32px 32px;
    gap: 40px;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #3DCFB6;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    gap: 40px;

    h1 {
        font-size: 72px;
        font-family: 'Fira Code';
    }
    h2 {
        color: #3DCFB6;
        font-size: 48px;
    }
    p {
        font-size: 20px;
    }
    a{
        font-size: 24px;
        text-decoration: none;
        color: #3DCFB6;
    }
}

.adress {
    display: flex;
    flex-direction: column;
    gap: 8px;
    p {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .legal-notice {
        width: 60vw;
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 16px;
        }
        p {
            font-size: 12px;
        }
        a {
            font-size: 14px;
        }
    }
    .adress {
        p{
            font-size: 14px;
        }
    }
}