<section>

    <div class="align">
        <div class="legal-notice">
            <h1 i18n="@@Imprint">Imprint</h1>
            <h2 i18n="@@Responsible">Responsible</h2>
            <div class="adress">
                <p>Tom Wahrenberg</p>
                <p>Am Hexenberg 11</p>
                <p>09224 Chemnitz</p>
                <p i18n="@@Germany">Germany</p>
            </div>
            <p i18n="@@Authorized representative: Tom Wahrenberg">Authorized representative: Tom Wahrenberg</p>
            <p>towahr&#64;protonmail.com</p>
            <a href="privacy" i18n="@@To privacy policy">To privacy policy</a>
        </div>
    </div>

</section>