<section>

    <div class="align">
        <div class="legal-notice">
            <h1>Imprint</h1>
            <h2>Responsible</h2>
            <div class="adress">
                <p>Tom Wahrenberg</p>
                <p>Am Hexenberg 11</p>
                <p>09224 Chemnitz</p>
                <p>Germany</p>
            </div>
            <p>Authorized representative: Tom Wahrenberg</p>
            <p>towahr&#64;protonmail.com</p>
            <a href="privacy">To privacy policy</a>
        </div>
    </div>

</section>