<section>
    <div class="information">
        <div class="headline">
            <h1>{{ selectedProjectIndex !== null ? (selectedProjectIndex + 1).toString().padStart(2, '0') : '' }}</h1>
            <h2>{{ project.title }}</h2>
        </div>
        <div class="about">
            <h3 i18n="@@What is this project about?">What is this project about?</h3>
            <p>{{ project.description }}</p>
            <div class="languages">
                <div class="language" *ngFor="let tech of project.technologiesWithIcons">
                    <img [src]="tech.icon" alt="{{ tech.name }}">
                    <span>{{ tech.name }}</span>
                </div>
            </div>
            <div class="btn">
                <a href="{{ project.gitLink }}" target="_blank" class="custom-button">
                    <span class="button-text">GitHub</span>
                    <img src="/assets/img/ico/arrow_out_g.svg" alt="Arrow Icon" class="button-icon">
                </a>
                <a href="{{ project.link }}"  target="_blank" class="custom-button">
                    <span class="button-text" i18n="@@Live Test">Live Test</span>
                    <img src="/assets/img/ico/arrow_out_g.svg" alt="Arrow Icon" class="button-icon">
                </a>
            </div>
            <button class="next" (click)="goToNextProject()">
                <span class="button-text" i18n="@@Next Project">Next Project</span>
                <img src="/assets/img/ico/arrow_f.svg" alt="Arrow Icon" class="button-icon">
            </button>
        </div>
    </div>
    <div class="right-side">
        <button class="close" (click)="onClose()">
            <img src="/assets/img/ico/close.svg">
        </button>
        <img [src]="project.imageUrl" alt="{{ project.title }} Image">
        <button class="next" (click)="goToNextProject()">
            <span class="button-text" i18n="@@Next Project">Next Project</span>
            <img src="/assets/img/ico/arrow_f.svg" alt="Arrow Icon" class="button-icon">
        </button>
    </div>
</section>