<section>
    <div class="title-screen">
        <h2>Frontend Developer</h2>
        <h1>Tom Wahrenberg</h1>
        <div class="btn-align">
            <button class="custom-button"><span class="button-text">Check my work</span></button>
            <button class="custom-button"><span class="button-text">Contact me</span></button>
        </div>
    </div>
    <div class="links">
        <div class="left">
            <div class="box">
                <img src="/assets/img/btn/arrowd.svg" alt="Beschreibung des Bildes" class="box-image">
            </div>
            <div class="line1"></div>
        </div>
        <div class="right">
            <div class="line2"></div>
        </div>
    </div>
</section> 