* {
    z-index: 3;
}

section {
    width: 100%;
    height: 802px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-screen {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; // Neu hinzugefügt

    h2 {
        font-family: 'Fira Code';
        font-size: 40px;
        font-weight: 400;
    }

    h1 {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
    }
}

.btn-align {
    margin-top: 24px;
    display: flex;
    gap: 48px;
}

.custom-button {
    background-color: transparent;
    width: 172px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Karla';
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover {
        border: 1px solid #3DCFB6;

        .button-text {
            animation: moveInOut 5.5s linear infinite;
        }
    }
}

.button-text {
    position: relative;
    display: inline-block;
}

@keyframes moveInOut {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-150%);
    }
}

@keyframes bounce {
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px); // Höheneinstellung der Animation
    }
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 588px;
    position: absolute;
}

.box {
    width: 30px;
    height: 48px;
    border-radius: 32px;
    border: 1px solid #3DCFB6;
    background-color: transparent;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;

    img {
        margin-bottom: 10px;
        animation: bounce 2s infinite; // Wende die Bounce-Animation an
    }
}

.line1 {
    width: 0px;
    height: 240px;
    border-left: 1px solid #3DCFB6;
}

.line2 {
    width: 0px;
    height: 186px;
    border-left: 1px solid #ffffff;
}

.right {
    margin-right: 96px;
}

.left {
    margin-left: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 96px;
}