* {
    z-index: 3;
}

section {
    width: 100%;
    height: 802px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-screen {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    h2 {
        font-family: 'Fira Code';
        font-size: 40px;
        font-weight: 400;
        @media (max-width: 850px) {
            font-size: 30px;
        }
    }

    h1 {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        @media (max-width: 1040px) {
            font-size: 100px;
        }
        @media (max-width: 850px) {
            font-size: 80px;
        }
    }
}

.btn-align {
    margin-top: 24px;
    display: flex;
    gap: 48px;
}

.custom-button {
    background-color: transparent;
    width: 172px;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding-left: 24px;
    padding-right: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Karla';
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:hover {
        border: 1px solid #3DCFB6;

        .button-text {
            animation: moveInOut 5.5s linear infinite;
        }
    }
}

.button-text {
    position: relative;
    display: inline-block;
}

@keyframes moveInOut {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-150%);
    }
}

@keyframes bounce {
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 588px;
    position: absolute;
}

.box {
    width: 30px;
    height: 48px;
    border-radius: 32px;
    border: 1px solid #3DCFB6;
    background-color: transparent;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;

    img {
        width: 8px;
        margin-bottom: 10px;
        animation: bounce 2s infinite;
    }
}

.line1 {
    width: 0px;
    height: 240px;
    border-left: 1px solid #3DCFB6;
}

.line2 {
    width: 0px;
    height: 186px;
    border-left: 1px solid #ffffff;
}

.right {
    margin-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 96px;
}

.mail {
    display: flex;
    gap: 12px;
    transform: rotate(270deg);
    position: absolute;
    bottom: 327px;

    img {
        width: 26px;
        transform: rotate(90deg);

        &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(1);
        }
    }
}


.email-container {
    a {
        color: white;
        text-decoration: none;
        font-family: 'Karla';
        font-size: 18px;

        &:hover {
            color: #3DCFB6;
        }
    }
}

.message-container {
    width: 99.99%;
    position: absolute;
    top: 737.77px;
    overflow: hidden;
    transform: rotate(357deg);
}

.message-bar {
    width: calc(200%); 
    padding: 12px 32px;
    color: white;
    font-family: "Karla";
    font-size: 18px;
    height: 30px;
    background-color: #383838;
    white-space: nowrap;
    display: flex;
}

.floating-text {
    color: #3DCFB6;
    font-size: 26px;
    white-space: nowrap;
    max-width: none;
    
    p {
        display: inline-block;
        margin-left: 0;
    }

    &:nth-of-type(1) {
        animation: float 30s linear infinite;
    }

    &:nth-of-type(2) {
        animation: float 30s linear infinite;
    }
}

.spaced-item {
    margin: 0 1.5em;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}