* {
    font-family: 'Fira Code';
    z-index: 2;

}

nav {
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;


    a {
        color: white;
        text-decoration: none;
        position: relative; // Positionierung für das 'after'-Element


        &:hover {
            &::after {
                content: '•'; 
                position: absolute; 
                left: 50%; 
                transform: translateX(-50%); 
                top: 100%; 
                margin-top: -0.3em; 
                color: #6ad7bf; 
                font-size: 1.5em; 
            }
        }
    }
}

.menu {
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo-name {
    margin-right: 100px;
}