section {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    height: 190px;
    background-color: #1C1C1C;
    font-family: 'Karla';
    color: white;
    margin-top: -2px;

    h2 {
        font-family: 'Fira Code';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        color: #3DCFB6;

    }
}

.footer-align {
    height: 126px;
    margin-left: 95.86px;
    margin-right: 95.86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        @media (max-width: 840px) {
            display: none;
        }
    }

    @media (max-width: 840px) {
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
    }
}


.left {
    display: flex;
    flex-direction: column;
    height: 126px;
    justify-content: space-between;


    p {
        font-family: 'Karla';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin-bottom: 8px;

        @media (max-width: 400px) {
            font-size: 12px;
        }
    }

}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
        font-family: 'Karla';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-decoration: none;
        color: white;
        position: relative;

        &:hover {
            color: #6ad7bf;

            &::after {
                content: '•';
                position: absolute;
                left: -0.5em;
                top: 50%;
                transform: translateY(-50%);
                color: #6ad7bf;
                font-size: 1.5em;
            }
        }

        @media (max-width: 400px) {
            font-size: 12px;
        }
    }
}

.logo-name {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;

    img {
        width: 48px;

        &:hover {
            opacity: 0;
            cursor: pointer;
        }
        @media (max-width: 400px) {
            width: 32px;
        }
    }

    img:nth-child(2) {
        position: absolute;
    }

    span {
        font-family: 'Fira Code';
        font-weight: 700;
    }
}

.smartphone {

    display: flex;
    justify-content: center;

    h2 {
        visibility: hidden;

        @media (max-width: 840px) {
            visibility: visible;
        }
    }
}