<section>
    <div class="comments">
        <h1>Was meine Kollegen über mich sagen</h1>
        <div class="card-section">
            <div class="card" [ngClass]="getAnimationClass()" *ngFor="let card of [lastComment, currentComment, nextComment]; let i = index">
                <div class="content">
                    <p>{{ card.text }}</p>
                    <div class="name">
                        <hr>
                        <p>{{ card.name }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation">
            <button class="previous" (click)="toggleComment('prev')">
                <img src="/assets/img/ico/arrow_b_w.svg" alt="Vorherige">
            </button>
            <div class="dots">
                <span *ngFor="let comment of comments; let i = index" [ngClass]="{'active dots': i === currentCommentIndex}"></span>
            </div>
            <button class="next" (click)="toggleComment('next')">
                <img src="/assets/img/ico/arrow_f_w.svg" alt="Nächste">
            </button>
        </div>
    </div>
</section>