section {
    width: 100%;
    height: 596px;
    color: white;
    font-family: "Karla";
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-x: hidden;
}

.comments {
    height: 452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: 'Fira Code';
        font-size: 32px;
        font-weight: 700;
        line-height: 41.98px;
        text-align: left;
        color: #3DCFB6;
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.move-left {
    animation: moveLeft 0.4s ease forwards;
}

.move-right {
    animation: moveRight 0.4s ease forwards;
}

.card-section {
    width: 100%;
    height: 274px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 84px;
    background: linear-gradient(90deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 10%, rgba(28, 28, 28, 0) 90%, #1C1C1C 100%);

}

.card {
    width: 632px; 
    height: 248px; 
    border-radius: 32px;
    border: 1px solid #3DCFB6;
    background-color: #3DCFB64D;
    transition: 0.5s ease;
    opacity: 1; 
    
}

.content {
    gap: 44px;
    display: flex;
    flex-direction: column;
    padding: 48px 40px 48px 40px;
}

.name {
    display: flex;
    align-items: center;

    hr {
        width: 320px;
        margin-right: 16px;
    }
}

.navigation {
    width: 184px;
    height: 40px;
    display: flex;
    justify-content: center;

    button {
        background-color: transparent;
        border: none;
        transition: transform 0.3s ease;
    }
}

.dots {
    width: 104px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;

    span {
        font-size: 24px;
        font-weight: bold;

        &.active {
            color: #3DCFB6;
        }
    }
}

.next {
    &:hover {
        cursor: pointer;
        filter: invert(54%) sepia(25%) saturate(2154%) hue-rotate(130deg);
    }
}

.previous {
    &:hover {
        cursor: pointer;
        filter: invert(54%) sepia(25%) saturate(2154%) hue-rotate(130deg);
    }
}

.quote {
    position: absolute;
    top: 3336px;
    left: 399px;
    z-index: 1;
}

.scale-y {
    transform: scaleY(1.1); /* oder den gewünschten Skalierungsfaktor */
    transition: transform 0.3s ease;
}